.react-bootstrap-table-pagination{
    width: 100%;
}
.ant-upload ,.ant-upload-select-picture-card {
    width: 200px !important;
    height: 200px !important;
}
.ant-upload-list-picture-card .ant-upload-list-item{
    width: 100% !important;
    height: 100% !important;
}
.ant-upload-picture-card-wrapper{
    display: flex !important;
    justify-content: center !important;
}

/* .uploadnone .anticon-download{
    display: none !important;
}

.uploadview .anticon-download {
    display: none !important;
} */