.loginbackground {
  background-image: url("../img/1920x1200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.8;
  /* background-color: red */
}

.registerbackground {
  background-image: url("../img/1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.8;
  /* background-color: red */
}

#tb {
  border: 1px solid black;
}

.activepage {
  background-color: #f26f21 !important;
}
