body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination {
  display: flex;
  justify-content: flex-end !important;
}

#tb {
  border: 1px solid black;
}

.txtx {
  font-family: Arial, Helvetica, sans-serif;
}
